@import url(http://fonts.googleapis.com/css?family=Vibur);
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc);
:root {
  --bg-width:75vw;
  --bg-height:70vh;
}

.content-pg {
  position: relative;
  z-index: 1;
  left: calc(50vw - 0.5 * (var(--bg-width)));
  top: calc(50vh - 0.5 * (var(--bg-height)));
  background-color:#283593;
  width: var(--bg-width);
  height: var(--bg-height);
  border-radius: 5px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
     -moz-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: center;
     -moz-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}
.shadow {
  position: relative;
  z-index: -1;
  left: calc(50% - 0.5 * 0.8 * var(--bg-width));
  /*bottom: -30px;*/
  display:block;
  width: calc(0.8 * var(--bg-width));
  height: calc(0.3 * var(--bg-height));
  background-color: rgba(0,0,0,0.6);
  -webkit-filter:blur(5px);
  filter: blur(5px);
  box-shadow: 0 5px 10px rgba(200,200,200,0.4);
  border-radius: 5px;
}
.photo-bg {
  /*content: "";*/
  margin-left: 1.5rem;
  width: 15rem;
  height: 70%;
  background-color: #000;
  /*background-image: url("Logo.png");*/
  background-size: contain;
  background-repeat: no-repeat;
}
.personal-bg {
  display: inherit;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
   -ms-flex-direction: column;
       flex-direction: column;
   -webkit-justify-content: center;
      -moz-justify-content: center;
           justify-content: center;
  padding-left: 5%;
  width: 50%;
  height: 70%;
  margin-left: 4rem;
  margin-right: 1.5rem;
  background-color: #eee;
  /*position: absolute;*/
}
.personal-bg > h2 {
  font-family: "Noto Sans TC";
  font-weight: 400;
  color: #DB5351;
  overflow-y: hidden;
}
.personal-bg > h2 > span {
  color: #333;
  width: 70%;
  float: right;
}

.landing-pg {
  position: fixed;
  left: 0;
  top: 0;
  z-index:2;
  width: 100vw;
  height: 100vh;
  background-image: url("brick.jpg");
}
.landing-pg > h1 {
  position: relative;
  text-align: center;
  color: white;
  font-size: 10rem;
  font-family: sans-serif;
  top: 20vh;
}
.landing-pg > .neon {
  font: 100 15vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff4444, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444, 0 10px 3px #000;
  /*#12FE00*/
}
.landing-pg > .neon > .blink {
  animation: blink linear infinite 2s;
}
.light-off {
  animation: light-off ease 1.5s;
  animation-fill-mode: forwards;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {

    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
@keyframes light-off {
  70% {
    text-shadow: none;
  }

  100% {
    color: #222;
    /*text-shadow: none;*/

  }
}
